                     
                                  /* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

menu,
ul,
ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    width: 100%;
}

                                                   /* LAYOUT */

body{
    font-family: 'Exo 2', sans-serif;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.container-lg{
    width: 100%;
}

.container-md{
    width: 1200px;
    margin: 0 auto;
}

.container-sm{
    width: 900px;
    margin: 0 auto;
}



                                                     /* HEADER */



.row, .nav{
    justify-content: space-between;
}



.list-nav{
    display: flex;
    align-items: center;
}

.item-list{
    padding: 10px;
}

.button{
    background-color: #0061ff;
    color: white;
    border: none;
    padding: 8px;
}
                                                        /* MAIN */



.hero{
    background-color: #b4d0e7;
}

.title{
    font-size: 80px;
    margin-top: 40px;
}

.row, .hero{
    margin-top: 30px;
}

.col-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.col-img{
    width: 60%;
}

.free-try{
    margin-top: 20px;
}

.dismiss-any-time{
    margin-top: 20px;
}

.fa-arrow-down{
    font-size: 40px;
    flex-grow: 1;
    margin: 0 auto;
    padding-top: 190px;
    padding-right: 500px;
}

.title-business-plan{
    margin-top: 60px;
}

.col-3{
    width: 300px;
    border: 1px solid gray;
}

.single{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 10px;
}

.card-1{
    text-align: left;
    padding-left: 20px;
}

.status{
    padding-top: 20px;
}

.euro{
    padding-top: 20px;
}

.month{
    padding-top: 5px;
}

.stats{
    padding-top: 20px; 
}

.item-stats{
    padding: 10px;
}

.thirty-days{
    margin-top: 30px;
    margin-left: 40px;
}

.compra-ora{
    margin-top: 20px;
}

.buy-now{
    text-decoration: underline;
    color: blue;
}

.list-bottom-card{
    margin-top: 60px;
}

.check{
    color: rgb(11, 135, 135);
}
